<h2>Interpolation</h2>
<h1>{{pageTitle}}</h1>

<hr>

<h2>Property binding</h2>
<div>
<img [src]="imgUrl"  alt="Image">
<img [src]="imgUrl2"  alt="Image">

</div>


<hr>

<h2>Event binding</h2>
<div>
<button (click)="incrementCount()">Click</button>
<p>Clicked {{count}} times</p>

</div>

<hr>

<h2>Two way binding</h2>
<div>
<input type="text" [(ngModel)]="name">
<p>Welcome {{name}}</p>
</div>

<hr>

<h2>Split Two way binding</h2>
<div>
<input type="text" [(ngModel)]="userName" (ngModelChange)="greetgokul($event)">
<p>Welcome {{userName}}</p>

</div>

<hr>

<h2>Getters setters</h2>
<div>
<input type="text" [(ngModel)]="customerName">
<p>Welcome {{customerName}}</p>

</div>
